body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 20px;
}

h1, h2 {
    color: #333;
}

section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:lightgray;
}

img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 10px auto;
}

.important-note {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
h1 {
    background-color:gray;
    padding: 1rem;
    text-align: center;
    color: black;
    text-size-adjust:initial;
    text-decoration-color: black;
}
nav{
    text-align:initial;
    color: black;
}